.card-container{
  display: flex;
  justify-content: center;
  gap: 2rem ;
  flex-wrap: wrap;
  margin-top: 30px;
}
.App{
  text-align: center;
}
.cart-value{
padding-left: 700px;
  margin:10px;
  color: green;
  
}
.start{
  font-size: 20px;
  
}
.rating1{
  color:white;
}
.price{
  color: black;
  font-weight: lighter;
}
s{
  color:rgba(65, 61, 61, 0.74);
  font-weight: lighter;
}
header{
  background-color: rgb(241, 236, 236);
  height: 40px;
}
.badge{
  border: 1px solid black;
  border-radius: 5px;
  width: 80px;
}
.badge:hover{
background-color: black;
}
.box{
  height: 300px;
  background-color: rgba(0, 0, 0, 0.856);
}
h1{
  color: whitesmoke;
  padding-top: 90px;
  font-size: 50px;
}
p{
  font-size:17px;
  color: gray;
  font-weight: bold;
}
.text{
  color:black;
  font-size: 25px;
}
.rating{
  color: rgb(255, 187, 0);
  font-size: 20px;
}
img{
  position:relative;
}
.sale{
  position: absolute;
  padding-left: 220px ;
  color:black;
}
.image{
  position: relative;
}
.p{
  position: absolute;
  top:0;
  right:0;
  padding-right:20px;
  color: black;
  font-family:'Times New Roman', Times, serif;
}

